body {
  background-color: #f0f0f0;
  font: 24px "Helvetica" black; }

#main {
  width: 600px;
  margin: 50px auto; }

input[type=text] {
  font: 24px "Helvetica" black;
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 2px; }

#url {
  width: 100%; }
